:host {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center;
}
.edit-form {
  width: 500px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: black;
    text-transform: uppercase;

    div:nth-child(1) {
      color: white;
      font-weight: 600;
    }

    div:nth-child(2) {
      color: rgb(153, 153, 153);
    }
  }

  &__body {
    color: white;
    background-color: rgb(49, 49, 49);
    padding: 15px;

    label {
      text-align: right;
      margin: 8px 0;
    }

    .action-buttons {
      display: flex;
      padding: 20px 0 20px 0;
      justify-content: space-between;

      button {
        color: white;
        width: 130px;
        text-transform: uppercase;
        height: 40px;

        &:nth-child(1) {
          background-color: #501919;
          position: relative;
          left: -5px;
          border: 1px solid red;
        }

        &:nth-child(2) {
          background-color: rgb(1, 110, 1);
          position: relative;
          right: 28px;
          border: 1px solid green;
        }

      }
    }

  }

  .form-input {
    padding: 5px 5px;
    height: 35px;
    border: 4px solid rgb(107, 107, 107);
  }
}
.alert-custom {
  background: #ffe0eb;
  color: #E91E63 !important;
  padding: 7px;
  font-size: .9em;
  display: inline-block;
  animation: 2s alertAnim forwards;
}
@keyframes alertAnim {
  from {
      opacity:0;
      transform: translateY(-20px);
  }
  to {
      opacity:1;
      transform: translateY(-4px);
  }
}
